.productos-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    gap: 20px;
    justify-content: center;
}

.producto {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.producto img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.boton {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 16px;
    text-decoration: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
}

h1{
    margin: 0 auto;
    text-align: center;
}

img{
    width: 500px;
}