/*Jorge Muñoz García*/

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.boton {
    display: inline-block;
    margin-top: 3vh;
    margin-left: 80px;
    padding: 8px 16px;
    text-decoration: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
}

.contenedor-formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.formulario {
    width: 30vw;
    height: 80%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

h2 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
}

input {
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

p {
    margin: 5px 0;
}

input[type="radio"] {
    margin-right: 5px;
}
